@tailwind base;
@tailwind components;
@tailwind utilities;

/* il faut faire un output pour voir les modifs comme pour tailwind */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, 
html {
    overflow-x: hidden;
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 570;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

a {
    font-weight: 580;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}

a > * {
    transition: all 0.3s ease;
}

a:hover, 
a:hover > * {
    color: #ffffffda;
}

a:hover {
    background-color: #00000065;
    color: #ffffffda;
}

.text-section {
    padding: 7rem 5rem;
}

.dark {
    background-color: #000;
    color: #fff;
}

.transparent {
    opacity: 0;
}